name: Deploy BackendRecetas

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Clonar el repositorio
    - name: Checkout código
      uses: actions/checkout@v4

    # 2️⃣ Crear carpeta destino en EC2
    - name: Crear carpeta en el servidor
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.IP_SERVER }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir -p /home/ubuntu/backend-recetas

    # 3️⃣ Sincronizar todos los archivos al servidor
    - name: Sincronizar archivos al servidor
      uses: burnett01/rsync-deployments@7.0.2
      with:
        switches: "-avz --delete"
        path: "./" # todo desde la raíz del repo
        remote_host: ${{ secrets.IP_SERVER }}
        remote_user: ${{ secrets.USERNAME }}
        remote_path: "/home/ubuntu/backend-recetas/"
        remote_key: ${{ secrets.PRIVATE_KEY }}
        remote_port: ${{ secrets.PORT }}

    # 4️⃣ Levantar contenedores Docker Compose en EC2
    - name: Levantar contenedores con Docker Compose
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.IP_SERVER }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd /home/ubuntu/backend-recetas
          sudo docker-compose down
          sudo docker-compose up -d --build
